<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="naver-site-verification" content="dece63166751a736d87a2c34f139747cd116fb88"/>
  
  <title>
    {% if page.title == "Home" %}
      {{ site.name }} &middot; {{ site.description }}
    {% else %}
      {{ page.title }} &middot; {{ site.name }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/style.css" />

  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link rel="stylesheet" href="/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "b994044d-44b3-4b83-910a-656c552664b8",
      autoRegister: false,
      notifyButton: {
        enable: true
      }
    }]);
  </script>
  <script type="text/javascript" src="/MPushSDK.js"></script>
  <script type="text/javascript">
    function guid() {
      function s4() {
        return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
      }
      return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    M.push("com.uracle.push.demo", "https://websocket.morpheus.kr", "BGBHt90FWmtQxqDmfG8yfLLvZ1iq3xOsG8lWjA5ckoD8F-hyvLrni4YLWxwWPkihFtLUkGqOx0kEgk9dUKt3NGA", {
      title: "Simplicity",
      url: "https://akirose.github.io",
      icon: "https://akirose.github.io/public/favicon.ico"
    });

    //M.addgroup("WPUserGroup").then(function(response){ console.log(response); });

    M.register(guid()).then(function(){
      console.log("PUSH Notification Subscribe successfully.")
    }).catch(function(e) {
      console.log(e);
    });
  </script>
</head>
