<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% include meta.html %}
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" media="print" type="text/css" href="{{ site.baseurl }}/print.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <style type="text/css">
    #se { display: none; }
  </style>
  <script type="text/javascript" src="{{ site.baseurl }}/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/jquery-simplicity.js"></script>
  <script type="text/javascript">
    /* loading screen */
        $(window).load(function() {
          $("div#overlay").fadeOut(300);
          $("#se").fadeIn(600);
        });
    </script>
</head>

<body>
<div class="overlay" id="overlay">
  <img src="{{ site.avatar }}" alt="Now is loading..." />
</div>
<div class="fixed" id="se">
  <div id="bgGlow">
    <div class="logo">
      <a href="{{ site.baseurl }}/" class="logo">{{ site.name }}</a><br />
      <span class="home_url"><a href="">http://akirose.github.io</a></span>
    </div>
  </div>
  <div class="ec" id="container">
    <div id="header">
      <span class="second_logo"></span>
      <div class="extension">
        <ul>
          <li><a title="방명록" class="guestbook" href=""><span>방명록</span></a></li>
          <li class="tags"><a title="태그" class="tags" href=""><span>태그</span></a></li>
          <li class="profile"><a title="프로필" class="profile" href=""><span>프로필</span></a></li>
        </ul>
      </div>
      <hr />
      <ul class="globalMenu">
        <li><a title="프로필" href="{{ site.baseurl }}/about">Profile</a></li>
        <li><a title="블로그" href="{{ site.baseurl }}/">Blog</a></li>
      </ul>
    </div>
    <hr />
    <div id="body">
      <div id="contents">
      {{ content }}
      </div>
      <hr />
      <div class="extension e1">
        <div class="section">
          <h2>Category</h2>
        </div>
      </div>
    </div>
    <hr />
    <div id="footer">
    </div>
    <div id="bottomMenu">
      <p class="copyright">Copyright 2009-2016 Simplicity. All right reserved. All logos used on this page are the property of their respective trademark owners.</p>
      <p style="text-align: right;">{% include svg-icons.html %}</p>
    </div>
  </div>
</div>
{% include analytics.html %}
</body>

</html>


