<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% include meta.html %}
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" media="print" type="text/css" href="{{ site.baseurl }}/print.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <style type="text/css">
    #se { display: none; }
  </style>
  <script type="text/javascript" src="{{ site.baseurl }}/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/jquery-simplicity.js"></script>
  <script type="text/javascript">
    /* loading screen */
        $(window).load(function() {
          $("div#overlay").fadeOut(300);
          $("#se").fadeIn(600);
        });
    </script>
</head>

<body>
<div class="overlay" id="overlay">
  <img src="{{ site.avatar }}" alt="Now is loading..." />
</div>
<div class="fixed" id="se">
{{ content }}
</div>
</body>

</html>


